.btn {
  height: 40px;
  border: 1px solid transparent;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: var(--border-radius);
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &-default {
    background-color: var(--primary-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--primary-color-darker);
      cursor: pointer;
    }
  }

  &-outlined {
    border-color: var(--primary-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color-darker);
      border-color: transparent;
      color: var(--white-color);
      cursor: pointer;
    }
  }

  &-link {
    color: var(--primary-color);

    &:hover {
      color: var(--primary-color-darker);
      cursor: pointer;
    }
  }
}

a.btn {
  text-decoration: none;
}
