@import url('//fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

:root {
  --background-color: #f8fafc;
  --primary-color: #22c55e;
  --primary-color-darker: #16a34a;
  --dark-color: #0f172a;
  --gray-color: #64748b;
  --white-color: #ffffff;
  --danger-color: #dc2626;
  --warning-color: #eab308;
  --success-color: #22c55e;

  --border-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 100%;
  background-color: var(--background-color);
  color: var(--dark-color);
}

#app {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-color-darker);
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}
